<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.microphone" android:required="false"/>
  <queries>
    <package android:name="com.offgrid.mesh.dev"/>
    <package android:name="com.mobile.legends"/>
    <package android:name="com.dts.freefireth"/>
    <package android:name="com.dts.freefiremax"/>
    <package android:name="com.tencent.ig"/>
    <package android:name="com.pubg.krmobile"/>
    <package android:name="com.levelinfinite.sgameGlobal"/>
    <package android:name="com.roblox.client"/>
    <package android:name="com.mojang.minecraftpe"/>
  </queries>
  <application android:label="NADMO LIVE" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:theme="@android:style/Theme.Material.NoActionBar"
    android:usesCleartextTraffic="false" android:allowBackup="false">
    <service android:name=".GameCaptureService" android:exported="false" android:foregroundServiceType="mediaProjection|microphone|camera" />
    <activity android:name=".MainActivity" android:exported="true"
      android:configChanges="orientation|screenSize|keyboardHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
